<tei2html.config>
    <text.abbr>i.p.v.; u.s.w.; m.a.w.; M.a.w.; m.a.W.; t.o.v.; t.a.v.; u.s.w.; d.w.z.; LL.D.; a.z.; B.v.; b.v.; c.s.; o.a.; m.i.; d.H.; D.h.; d.i.; i.c.; i.d.; i.e.; n.l.; c.M.; e.a.; z.g.; m.m.; m.M.; N.B.; Z.g.; d.h.; z.B.; d.h.; P.O.; B.ʼs; F.ʼs; H.ʼs; K.ʼs; P.ʼs</text.abbr>
    <text.quotes>‚’„”</text.quotes>
    <images.scale>0.5</images.scale>
</tei2html.config>